body {
    background-color: #000000;
    font-family: 'Courier New';
    color: #00FF00;
}

hr {
    background-color: #00FF00;
}

.jumbotron {
    background-color: #111111;
}

#cursor {
    font-weight: bold;
}

#endspace {
    color: #111111;
}